#
name: Deploy

# Configures this workflow to run every time a change is pushed to the branch called `release`.
on:
  workflow_call:
    inputs:
      ENVIRONMENT:
        required: true
        type: string
# Defines two custom environment variables for the workflow. These are used for the Container registry domain, and a name for the Docker image that this workflow builds.
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: ${{ inputs.ENVIRONMENT }}

    steps:
      - name: Update Code
        uses: appleboy/ssh-action@b0a8f324e192469585a608d1f586061cf28a6571
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            set -euo pipefail
            cd /home/app/test-project
            git fetch -p
            git checkout ${{ github.ref_name }}
            git pull
      - name: Deploy
        uses: appleboy/ssh-action@b0a8f324e192469585a608d1f586061cf28a6571
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            set -euo pipefail
            cd /home/app/test-project
            docker compose up -d --build frontend backend
      - name: Cleanup Docker system
        if: always()
        uses: appleboy/ssh-action@b0a8f324e192469585a608d1f586061cf28a6571
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            echo "Cleaning up Docker system..."
            docker container prune -f
            docker image prune -f
            docker network prune -f
            docker builder prune -f --keep-storage 10GB
