name: Workflow
on:
    push:
        branches-ignore:
            - main
            - master
jobs:
    build-and-deploy:
        name: Deploy to staging
        uses: ./.github/workflows/build-and-deploy.yml
        with:
            ENVIRONMENT: staging
        secrets: inherit